doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Cupones
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css")
    body 

        .container-fluid.p-4
            form(action="/cupones/add", method="post")
                label(for="") Nombre del cupón 
                input(type="text" name="nombre").form-control.p-2
                label(for="") Descuento
                input(type="text" name="descuento").form-control.p-2
                label(for="") Fecha de vencimiento
                input(type="date" name="vecnimiento").form-control.p-2
                br
                button(type="submit").btn.btn-primary Enviar
                a(href="/cupones/").btn.btn-light Volver
