extends complementos/header
block content
        .row
          // Individual column searching (text inputs) Starts
          .col-sm-12
            .card
              .card-header
                h5 Tus cupones actuales 
                br
                a(href="/cupones/add/").btn.btn-primary Agregar cupón
              .card-body
                .table-responsive.product-table
                  table#basic-1.display
                    thead
                      tr
                        th Image
                        th Details
                        th Descuento
                        th Stock
                        th Start date
                        th Action
                    tbody
                    each cupon in cupones
                      tr
                        td
                          img(src='/assets/images/ecommerce/product-table-1.png' alt='')
                        td
                          h6  #{cupon.nombre} 
                          span Interchargebla lens Digital Camera with APS-C-X Trans CMOS Sens
                        td $10
                        td.font-success In Stock
                        td 2011/04/25
                        td
                          button.btn.btn-danger.btn-xs(type='button' data-original-title='btn btn-danger btn-xs' title='') Delete
                          button.btn.btn-success.btn-xs(type='button' data-original-title='btn btn-danger btn-xs' title='') Edit